.u-room-status-table {
  .ant-table-cell {
    white-space: break-spaces;
    text-align: center;
  }

  .u-status-cell {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 90%;
    padding: 10px;
    cursor: pointer;

    .value {

    }

    .label {
      color: #666;
    }

    .price {
      font-weight: bold;
    }

    &.empty {
      background-color: #eee;
    }

    &.close {
      background-color: #f9d8d7;
    }

    .icon-empty {
      background-color: #333;
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 12px;
      color: #FFF;
      position: absolute;
      top: 0;
      right: 0;
    }

    .icon-close {
      background-color: #eb3223;
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 12px;
      color: #FFF;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.u-image-list {
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}
